.text-bold {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 40px;
}
.text-thin {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 15px;
}
.text-med {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
}
.text {
    font-family: 'Inter';
    font-size: 30px;
}
.textInput {
    width: 100%;
    padding: 10px;
    border: 1 px solid #dfdfdf;
    font-family: 'Inter';
}
.error {
    color: red;
}
.studentsList {
    width: 12em;
    height: 100%;
    line-height: 2em;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}