.text-bold {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 40px;
}
.text-thin {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 15px;
}
.text {
    font-family: 'Inter';
    font-size: 30px;
}
.textInput {
    width: 100%;
    padding: 10px;
    border: 1 px solid #dfdfdf;
    font-family: 'Inter';
}