.item {
    font-family: 'Quicksand';
    font-weight: 100;
    font-size: 27px;
    display: flex;
    flex-wrap: wrap;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.students {
    font-family: 'Quicksand';
    font-weight: 100;
    font-size: 23px;
}
.studentsContainer {
    width: 960px;
    overflow-y: auto;
}